<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MalCommands - 404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="body" id="body">
<section class="layout">
    <div class="header">
        <a class="header_link" href="http://malcommands.com">MalCommands</a>
    </div>
    <div class="main" id="404_content">
        <h1 id="404_main_title">404 - Either you broke something or I did, and I never break things... :)</h1>
    </div>

</section>

</body>
</html>