
{% for object in command %}
<div id="command_content_inner">
<span class="material-symbols-outlined" id="back_button">
keyboard_double_arrow_left Back
</span>
<p></p>
<p><b>Command Line:</b> {{object.command}}</p>
<p><b>Description:</b> {{object.description}}</p>
</div>

<script>
        $('#back_button').on('click', function() {
        var command_content = document.getElementById("command_content");
        $('#command_content').html('');
        command_content.style.display = "none";
        var table_content = document.getElementById("table_content");
        table_content.style.display = "block";
      });
</script>

{% endfor %}
