
<div class="main" id="faq_content_inner">
<h3>What is MalCommands?</h3>
<p>MalCommands is a collection of command-lines often associated with cyber threats - whether through direct attribution, offensive tool usage, OS utility abuse or other research means.</p>
<h3>How should I use it?</h3>
<p>However you want - it is meant to be a broad research tool - some usecases may include the following;</p>
<ul>
    <li>Discovering tools or commandlines associated with a specific MITRE Technique or Tactic</li>
    <li>Cross-referencing commandlines discovered in the course of a forensic investigation.</li>
    <li>Better understanding the purpose or objective of a specific commandline or tool.</li>
    <li>Understanding the risk or fidelity of a commandline with respect to detection techniques.</li>
    <li>Finding additional references for a specific command.</li>
    <li>Determining known threat-actor attributions for certain types of data.</li>
</ul>
<h3>You can't possibly map all commandline variations!</h3>
<p>Correct - there is pretty much a limitless way to obfuscate, encode, encrypt or otherwise hide commandline activity - this tool focuses on the final version as interpreted by the base OS when considering standard utility builds - cyber threats can and do change arguments, formats, etc at will when customizing offensive tools.</p>
<h3>You're missing XYZ commandline/tool or you have an incorrect MITRE/Killchain mapping!</h3>
<p>Let me know!  Submit a contribution via the Contribution page or drop me an email at malcommands@gmail.com - any contributions can include your information in the references section as desired.</p>
<h3>You're web design is terrible!</h3>
<p>I am aware - that's why I don't do webapps for a living :)</p>
<h3>whoami;</h3>
<ul>
    <li><a href="https://www.linkedin.com/in/joseph-avanzato/">LinkedIn</a></li>
    <li><a href="https://attackersmindset.com/">Personal Blog</a></li>
    <li><a href="https://github.com/joeavanzato">GitHub</a></li>
</ul>
</div>