
<div class="main" id="faq_content_inner">
<h4>What is MalCommands?</h4>
<p>MalCommands is a collection of command-lines often associated with cyber threat activity - whether through direct attribution, offensive tool usage, OS utility abuse or other research means.</p>
<h4>Why do this?</h4>
<p>There are many resources documenting suspicious command-line activity across the Internet - this is designed to help aggregate information to a central repository, making it easy to search, learn from examples, infer based on MITRE Technique or Killchain, read references, etc.</p>
<h4>How should I use it?</h4>
<p>However you want - it is meant to be a broad research tool - some use-cases may include the following;</p>
<ul>
    <li>Discovering tools or commandlines associated with a specific MITRE Technique or Tactic</li>
    <li>Cross-referencing commandlines discovered in the course of a forensic investigation.</li>
    <li>Better understanding the purpose or objective of a specific commandline or tool.</li>
    <li>Understanding the risk or fidelity of a commandline with respect to detection techniques.</li>
    <li>Finding additional references for a specific command.</li>
    <li>Determining known threat-actor attributions for certain types of data.</li>
</ul>
<h4>You can't possibly map all commandline variations!</h4>
<p>Correct - there is pretty much a limitless way to obfuscate, encode, encrypt or otherwise hide commandline activity - this tool focuses on the final version as interpreted by the base OS when considering standard utility builds - cyber threats can and do change arguments, formats, etc at will when customizing offensive tools.</p>
<h4>You're missing XYZ commandline/tool or you have an incorrect MITRE/Killchain mapping!</h4>
<p>Let me know!  Submit a contribution via the Contribution page or drop me an email at malcommands@gmail.com - any contributions can include your information in the references section as desired.</p>
<h4>You're web design is terrible!</h4>
<p>I am aware - that's why I don't do webapps for a living :) Feel free to submit a PR to improve it!</p>
<h4>You misattributed/forgot/didn't link an important reference!</h4>
<p>Let me know and let's fix it!  I tried to attribute items as best as possible but the Internet is a big place.</p>
<h4>whoami;</h4>
<ul>
    <li><a href="https://www.linkedin.com/in/joseph-avanzato/">LinkedIn</a></li>
    <li><a href="https://attackersmindset.com/">Personal Blog</a></li>
    <li><a href="https://github.com/joeavanzato">GitHub</a></li>
</ul>
</div>