<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% for object in command %}
<div id="command_content_inner">
<div id="back_banner" role="button">
<span class="material-symbols-outlined" id="back_button">
<i class="material-icons" style="font-size:60px;">keyboard_double_arrow_left keyboard_double_arrow_left keyboard_double_arrow_left keyboard_double_arrow_left keyboard_double_arrow_left</i>
</span>
 </div>
<p></p>
<h5 class="command_data_header"><b>Command Line</b></h5> <p><code class="code_block">{{object.command}}</code></p>
<h5 class="command_data_header"><b>Description</b></h5> <p>{{object.description}}</p>
<h5 class="command_data_header"><b>Risk</b></h5> <p>{{object.risk}}</p>
<h5 class="command_data_header"><b>Risk Reason</b></h5> <p>{{object.risk_reason}}</p>
<h5 class="command_data_header"><b>Fidelity</b></h5> <p>{{object.fidelity}}</p>
<h5 class="command_data_header"><b>Fidelity Reason</b></h5> <p>{{object.fidelity_reason}}</p>
<h5 class="command_data_header"><b>Operating Systems</b></h5>
<ul>
{% for os in object.os %}
 <li>{{os}}</li>
{% endfor %}
</ul>
<h5 class="command_data_header"><b>Killchain Phases</b></h5>
<ul>
{% for p in object.killchain %}
 <li>{{p}}</li>
{% endfor %}
</ul>
<h5 class="command_data_header"><b>References</b></h5>
<ul>
{% for r in object.references %}
 <li><a href="{{r}}">{{r}}</a></li>
{% endfor %}
</ul>
<div id="tool_box">
<h5 class="command_data_header"><b>TOOL DATA</b></h5>
<p><b>Tool Name:</b> {{object.tool_data.tool}}</p>
<p><b>Tool URL:</b> <a href="{{object.tool_data.tool_url}}">{{object.tool_data.tool_url}}</a></p>
<p><b>Tool Description:</b> {{object.tool_data.tool_description}}</p>
<p><b>Common Tool Locations</b></p>
{% for loc in object.tool_data.tool_locations %}
<li>{{loc}}</li>
{% endfor %}
<p></p>
<p><b>Common Tool Arguments</b></p>
{% for arg in object.tool_data.tool_arguments %}
<li>{{arg}}</li>
{% endfor %}
<p></p>
</div>
 <p></p>
<div id="mitre_attack">
<h3 class="command_data_header"><b>MITRE ATT&CK TECHNIQUES</b></h3>
{% for obj in object.mitre_long %}
<div id="each_mitre_tech">
<p class="mitre_technique_header"><b>Technique: </b>{{obj.technique_id}} - {{obj.name}}</p>
  <div class="mitre_technique_content">
    <p><b>URL: </b><a href="{{obj.url}}">{{obj.url}}</a></p>
    <p><b>Description: </b>{{obj.description|safe}}</p>
    <p><b>Tactics:</b></p>
    <ul>
    {% for t in obj.tactics %}
    <li>{{t}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
<script>
window.history.pushState('', 'MalCommands: {{baseid}}', '/links/{{baseid}}');
</script>
{% endfor %}
</div>

</div>

<script>
 var coll = document.getElementsByClassName("mitre_technique_header");
 var i;
 for (i = 0; i < coll.length; i++) {
   coll[i].addEventListener("click", function() {
     this.classList.toggle("active");
     var content = this.nextElementSibling;
     if (content.style.maxHeight){
       content.style.maxHeight = null;
     } else {
       content.style.maxHeight = content.scrollHeight + "px";
     }
   });
 }
</script>


<script>
        $('#back_banner').on('click', function() {
        var command_content = document.getElementById("command_content");
        $('#command_content').html('');
        command_content.style.display = "none";
        var table_content = document.getElementById("table_content");
        window.history.pushState('', 'MalCommands', '/');
        table_content.style.display = "block";
      });
</script>

{% endfor %}
