
<div class="main" id="faq_content_inner">
<h4>What is MalCommands?</h4>
<p>MalCommands is a collection of commandline patterns often associated with cyber threat activity.  Almost none of this is original work, I'm just trying to put it together in a more easily searchable and referenced format.</p>
<h4>Why do this?</h4>
<p>There are many resources documenting suspicious command-line activity across the Internet - this is designed to help aggregate information to a central repository, making it easy to search, learn from examples, infer based on MITRE Technique or Killchain, read references, etc.</p>
<h4>How should I use it?</h4>
<p>However you want - it was designed to be a broad research, reference and glossary tool - some use-cases may include the following;</p>
<ul>
    <li>Discovering tools or commandlines associated with a specific MITRE Technique or Tactic</li>
    <li>Determining whether that weird commandline you saw matches any known-suspicious patterns or arguments.</li>
    <li>Cross-referencing commandlines discovered in the course of a forensic investigation.</li>
    <li>Finding new ways to use an existing tool for red-team objectives.</li>
    <li>Better understanding the purpose or objective of a specific commandline or tool.</li>
    <li>Understanding the risk or fidelity of a commandline with respect to environment consequences and detection techniques.</li>
    <li>Finding additional references or uses for a specific command.</li>
    <li>Determining known threat-actor attributions to certain tools or commandlines [WIP with References for each commandline]</li>
</ul>
<h4>You can't possibly map all commandline variations!</h4>
<p>Correct - there is pretty much a limitless way to obfuscate, encode, encrypt or otherwise hide suspicious activity - cyber threats can and do change arguments, formats, etc at will when customizing offensive tools.  Having said that, I have personally observed APTs pulling compiled tools straight from GitHub and using default arguments on a not-infrequent basis.</p>
<h4>You're missing XYZ commandline/tool or you have an incorrect MITRE/Killchain mapping!</h4>
<p>Let me know!  Submit a contribution via the Contribution page or drop me an email at malcommands@gmail.com - any contributions can include your information in the references section as desired.</p>
<h4>You're web design is terrible!</h4>
<p>I am aware - that's why I don't do webapps for a living :) Feel free to submit a PR to improve it!</p>
<h4>You misattributed/forgot/didn't link an important reference!</h4>
<p>Let me know and let's fix it!  I tried to attribute items as best as possible but the Internet is a big place.</p>
<h4>whoami;</h4>
<ul>
    <li><a href="https://www.linkedin.com/in/joseph-avanzato/">LinkedIn</a></li>
    <li><a href="https://attackersmindset.com/">Personal Blog</a></li>
    <li><a href="https://github.com/joeavanzato">GitHub</a></li>
</ul>
<h4>References Used</h4>
<p>The resources below contain a vast volume of additional reading on the topic of suspicious commandlines and were used to create the items stored in MalCommands, either directly or indirectly to different degrees.  Where possible, direct references are stored with each commandline to link readers back to the original documentation.</p>
<ul>
    <li><a href="https://lolbas-project.github.io/">LOLBAS Project</a></li>
    <li><a href="https://gtfobins.github.io/">GTFOBins</a></li>
    <li><a href="https://github.com/3CORESec/MAL-CL">MAL-CL</a></li>
</ul>
</div>
<script>
window.history.pushState('', 'MalCommands - FAQ', '/');
</script>